<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <p><%= name %></p>
        <div id="timecodes">
            <p>00:00:00:00</p>
            <p>00:00:00:00</p>
        </div>
    </body>
</html>
