<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body data-channel="<%= channel %>">
        <p><%= name %></p>
        <div id="timecodes">
            <p id="current-time">00:00:00:00</p>
            <p id="remaining-time">00:00:00:00</p>
        </div>
        <script src="/assets/socket.io.min.js"></script>
        <script src="/assets/app.js"></script>
    </body>
</html>
