@font-face {
    font-family: 'Google Sans Code';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(/assets/google-sans-code-latin-500-normal.woff2) format('woff2'), url(/assets/google-sans-code-latin-500-normal.woff) format('woff');
}

body {
    align-items: flex-start;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    font: 500 7.5vmin 'Google Sans Code', monospace;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 4vh 4vw;
}

p {
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
    overflow: hidden;
    padding: 0.2em 0.7em;
    paint-order: stroke fill;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-text-stroke: 0.05em #000;
}

p:empty {
    display: none;
}

.info {
    align-self: stretch;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4em;
}
